@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/assets/fonts/Pretendard-Bold.subset.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('/assets/fonts/Pretendard-SemiBold.subset.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('/assets/fonts/Pretendard-Medium.subset.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/assets/fonts/Pretendard-Regular.subset.woff2');
  font-display: swap;
}
