@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./reset.css');

:root {
  --default-bg: #1c1c22;
}

body {
  background-color: var(--default-bg);
}

input,
textarea {
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient {
    background: linear-gradient(91.17deg, #5097fa 0%, #5363ff 100%);
  }

  .text-gradient {
    background: linear-gradient(91.17deg, #5097fa 0%, #5363ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .loading-circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .loading-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .input-base {
    @apply w-full p-5 rounded-lg text-white bg-black-60 border border-black-70 focus:ring-1 focus:ring-indigo focus:border-indigo placeholder:text-black-30 caret-white;
  }
}
